In [1]:
# %matplotlib widget
# %matplotlib notebook
%matplotlib inline
%load_ext autoreload
%autoreload 2
# from IPython.core.display import display, HTML
# display(HTML("<style>.container { width:90% !important; }</style>"))

import numpy as np
import pandas as pd
import pickle
import h5py
import os

# Elog

In [2]:
reps = 4
scans = 320
nspots = scans / 4
nspots

80.0

In [4]:
print(f"{reps = }, {scans = }, {nspots = }")

reps = 4, scans = 320, nspots = 80.0

In [2]:
# ferritin
# https://docs.google.com/spreadsheets/d/1sZtDsfgdbVltXtC_nw7wt7QoXf_mQ2X5-X3lCEDUEiI/edit#gid=1882865384

In [3]:
sheet_url = "https://docs.google.com/spreadsheets/d/1sZtDsfgdbVltXtC_nw7wt7QoXf_mQ2X5-X3lCEDUEiI/edit#gid=1882865384"
url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [4]:
elog = pd.read_csv(url)
elog.columns

Index(['Sample', 'comment', 'Short comment', 'Sample no. (label)',
       'measurement folder', 'scan number', 'LN flow meter', 'Temperature, K',
       'Temperature, C', 'Exposure time (s)', 'number of frames',
       'Mesh (spots x lines)', 'reps per spot', 'No of spots',
       'Total exposure time (s)', 'transmission (%)', 'Absorbers 80um',
       'Absorbers 100um', 'position y, mm', 'position z, mm'],
      dtype='object')

In [5]:
# # save elog
# elog.to_pickle("../02-source/elog")

In [6]:
# load elog as pd dataframe
elog = pd.read_pickle("../03-source/elog")

In [7]:
elog.head(5)

,Sample,comment,Short comment,Sample no. (label),measurement folder,scan number,LN flow meter,"Temperature, K","Temperature, C",Exposure time (s),number of frames,Mesh (spots x lines),reps per spot,No of spots,Total exposure time (s),transmission (%),Absorbers 80um,Absorbers 100um,"position y, mm","position z, mm"
0,silica_gly23,NaN,empty,1,silica_gly23_0001,12,NaN,NaN,NaN,0.0001,10000.0,1,NaN,NaN,1.000,NaN,0.0,0.0,NaN,NaN
1,silica_gly23,NaN,empty,1,silica_gly23_0001,13,NaN,NaN,NaN,0.0010,10000.0,1,NaN,NaN,10.000,NaN,0.0,0.0,NaN,NaN
2,silica_gly23_SAXS,NaN,empty,1,silica_gly23_saxs_0001,2,NaN,NaN,25,0.0010,1.0,1,NaN,NaN,0.001,NaN,0.0,0.0,NaN,NaN
3,silica_gly23,NaN,NaN,1,silica_gly23_saxs_0001,3,NaN,NaN,25,0.1000,1.0,1,NaN,NaN,0.100,NaN,0.0,0.0,NaN,NaN
4,silica_gly23,NaN,NaN,1,silica_gly23_saxs_0001,4,NaN,NaN,25,0.0100,1.0,1,NaN,NaN,0.010,NaN,0.0,0.0,NaN,NaN

In [8]:
cols = list(elog.columns)
cols

['Sample',
 'comment',
 'Short comment',
 'Sample no. (label)',
 'measurement folder',
 'scan number',
 'LN flow meter',
 'Temperature, K',
 'Temperature, C',
 'Exposure time (s)',
 'number of frames',
 'Mesh (spots x lines)',
 'reps per spot',
 'No of spots',
 'Total exposure time (s)',
 'transmission (%)',
 'Absorbers 80um',
 'Absorbers 100um',
 'position y, mm',
 'position z, mm']

In [9]:
condition = elog['measurement folder'].str.contains('ferritin_conc_gly_50_6_0005', na=False)
print("Temp: ", elog[condition]["Temperature, K"].values)
print("Transm: ", elog[condition]["transmission (%)"].values)

elog_entries = elog[condition]
elog_entries

Temp:  [220.]
Transm:  ['100']

,Sample,comment,Short comment,Sample no. (label),measurement folder,scan number,LN flow meter,"Temperature, K","Temperature, C",Exposure time (s),number of frames,Mesh (spots x lines),reps per spot,No of spots,Total exposure time (s),transmission (%),Absorbers 80um,Absorbers 100um,"position y, mm","position z, mm"
135,ferritin_conc_gly_50_6,"xpcs, 4 reps per spot, 220K, full beam",NaN,10.6,ferritin_conc_gly_50_6_0005,1-460,~2,220.0,NaN,0.0002,5000.0,16x7,4.0,112,1.0,100,0.0,0.0,"np.arange(-0.34, 0.6, 0.06)","np.arange(5.76, 6.12, 0.06)"

In [17]:
for col in cols:
    print(f'{col}', '\t', (elog_entries[col].values[0]))

Sample 	 ferritin_conc_gly_50_6
comment 	 xpcs, 4 reps per spot, 220K, full beam
Short comment 	 nan
Sample no. (label) 	 10.6
measurement folder 	 ferritin_conc_gly_50_6_0005
scan number 	 1-460
LN flow meter 	 ~2
Temperature, K 	 220.0
Temperature, C 	 nan
Exposure time (s) 	 0.0002
number of frames 	 5000.0
Mesh (spots x lines) 	 16x7
reps per spot 	 4.0
No of spots 	 112
Total exposure time (s) 	 1.0
transmission (%) 	 100
Absorbers 80um 	 0.0
Absorbers 100um 	 0.0
position y, mm 	 np.arange(-0.34, 0.6, 0.06)
position z, mm 	 np.arange(5.76, 6.12, 0.06)

In [18]:
with h5py.File("test.h5", 'a') as f: # w for read/write/create access
    for col in cols:
        f[f'/elog/{col}'] = elog_entries[col].values[0]

if os.path.isfile("test.h5"):
    print("true")

true

In [19]:
# -- visit function for h5 viewing the structure of files
def visit_func(name, node):
    '''
    Return all groups and datasets name and shapes of h5 file called name
    '''
    if isinstance(node, h5py.Group):
        print("group", node.name)
    elif isinstance(node, h5py.Dataset):
        if (node.dtype == 'object') :
            print (node.name, 'is an object Dataset')
        else:
            print('\t', node.name, node.shape)
    else:
        print(node.name, 'is an unknown type')

In [20]:
with h5py.File("test.h5", 'a') as f:
    f.visititems(visit_func)

group /elog
	 /elog/Absorbers 100um ()
	 /elog/Absorbers 80um ()
	 /elog/Exposure time (s) ()
/elog/LN flow meter is an object Dataset
/elog/Mesh (spots x lines) is an object Dataset
/elog/No of spots is an object Dataset
/elog/Sample is an object Dataset
/elog/Sample no. (label) is an object Dataset
	 /elog/Short comment ()
	 /elog/Temperature, C ()
	 /elog/Temperature, K ()
	 /elog/Total exposure time (s) ()
/elog/comment is an object Dataset
/elog/measurement folder is an object Dataset
	 /elog/number of frames ()
/elog/position y, mm is an object Dataset
/elog/position z, mm is an object Dataset
	 /elog/reps per spot ()
/elog/scan number is an object Dataset
/elog/transmission (%) is an object Dataset

In [16]:
if os.path.isfile("test.h5"):
    print("true")
    os.system('rm -f test.h5')

true

In [21]:
!ls

01-mask-setup.ipynb  elog.ipynb  filtering.ipynb  interpretation.ipynb	test.h5

In [9]:
# elog[(elog['Sample'].str.contains('ferritin_conc120_gly_50_1', na=False))]

In [11]:
elog[elog['Sample'].str.contains('ferritin_conc120_gly_50_1', na=False) & (elog['Temperature, K']==240)]

,Sample,comment,Short comment,Sample no. (label),measurement folder,scan number,LN flow meter,"Temperature, K","Temperature, C",Exposure time (s),number of frames,Mesh (spots x lines),reps per spot,No of spots,Total exposure time (s),transmission (%),Absorbers 80um,Absorbers 100um,"position y, mm","position z, mm"
196,ferritin_conc120_gly_50_1,xpcs_mesh 4 reps,died after 30th position,121,ferritin_conc120_gly_50_1_0006,6,NaN,240.0,NaN,0.0002,5000.0,NaN,4.0,NaN,1.0,100,0.0,0.0,NaN,NaN
197,ferritin_conc120_gly_50_1,xpcs_mesh 4 reps,NaN,121,ferritin_conc120_gly_50_1_0007,7,NaN,240.0,NaN,0.0002,5000.0,NaN,4.0,NaN,1.0,100,0.0,0.0,NaN,NaN

# Test functions

## Viscosity database etc etc

In [2]:
def D_coeff(T, eta, Rh=6.6e-9):
    """Calculate the diffusion coefficient in nm^2/us from Stokes-Einsten equation
    Args
        T: temperature in K
        eta: viscosity of the solvent in N*s/m^2 
        Rh: hydrodynamic radius in m. Default value is for ferritin
    """
    if T == 243:
        T = 243
    kb = 1.380649e-23 # m2 kg s-2 K-1
    D = kb*T / (6*np.pi*eta*Rh) # m^2 / s
    
    return D#*1e12

In [5]:

def viscosity():
    """Viscosity values in Ns/m2 of water/glycerol mixture with 50w%, 50v%, 60v% glycerol.
       http://www.met.reading.ac.uk/~sws04cdw/viscosity_calc.html
    """
    eta_50w_gly = {300: 0.0046742, 290: 0.0067715, 280: 0.010448, 270: 0.017490, 260: 0.032565, 250: 0.069890, 240: 0.18269, 230: 0.63521, 220: 3.4169, 210: 37.846}
    eta_50v_gly = {300: 0.0063573, 290: 0.0094968, 280: 0.015197, 270: 0.026578, 260: 0.052163, 250: 0.11934, 240: 0.33719, 230: 1.2893, 220: 7.7852, 210: 98.826}
    eta_60v_gly = {300: 0.011691, 290: 0.018606, 280: 0.032089, 270: 0.061359, 260: 0.13400, 250: 0.34857, 240: 1.1499, 230: 5.3002, 220: 40.015, 210: 657.37}

    etas = pd.DataFrame()
    etas['temp'] = list(eta_50w_gly.keys())

    dbs = [eta_50w_gly, eta_50v_gly, eta_60v_gly]
    labels = ['50w%', '50v%', ' 60v%']

    for db,label in zip(dbs, labels):
        if all( etas['temp'].values == np.array(list(db.keys())) ):
            etas[label] = list(db.values())
        else: 
            print(label, " didn't work")

    return etas

In [7]:
etas = viscosity()
etas

   temp       50w%       50v%        60v%
0   300   0.004674   0.006357    0.011691
1   290   0.006771   0.009497    0.018606
2   280   0.010448   0.015197    0.032089
3   270   0.017490   0.026578    0.061359
4   260   0.032565   0.052163    0.134000
5   250   0.069890   0.119340    0.348570
6   240   0.182690   0.337190    1.149900
7   230   0.635210   1.289300    5.300200
8   220   3.416900   7.785200   40.015000
9   210  37.846000  98.826000  657.370000

In [4]:
viscosity_50w_gly = {300: 0.0046742, 290: 0.0067715, 280: 0.010448, 270: 0.017490, 260: 0.032565, 250: 0.069890, 240: 0.18269, 230: 0.63521, 220: 3.4169, 210: 37.846}
viscosity_50v_gly = {300: 0.0063573, 290: 0.0094968, 280: 0.015197, 270: 0.026578, 260: 0.052163, 250: 0.11934, 240: 0.33719, 230: 1.2893, 220: 7.7852, 210: 98.826}
viscosity_60v_gly = {300: 0.011691, 290: 0.018606, 280: 0.032089, 270: 0.061359, 260: 0.13400, 250: 0.34857, 240: 1.1499, 230: 5.3002, 220: 40.015, 210: 657.37}

In [5]:
temps = list(viscosity_50w_gly.keys())
temps

[300, 290, 280, 270, 260, 250, 240, 230, 220, 210]

In [ ]:
# keys = ['temperature', 'transmission', 'D', 'dD', 'c']
# df = pd.DataFrame(columns=keys)

# new_row = {'temperature': 200, 'transmission': 'test', 'D': 0.1, 'dD': 0.01}
# DiffC2 = DiffC.append(new_row, ignore_index=True)

In [23]:
cols = ['temp', '50w%', '50v%', '60v%']
df = pd.DataFrame(columns=cols)

# df = df.append(viscosity_50w_gly)
df['temp'] = list(viscosity_50w_gly.keys())
df['50w%'] = list(viscosity_50w_gly.values())
df['50v%'] = list(viscosity_50v_gly.values())
df['60v%'] = list(viscosity_60v_gly.values())
df

   temp       50w%       50v%        60v%
0   300   0.004674   0.006357    0.011691
1   290   0.006771   0.009497    0.018606
2   280   0.010448   0.015197    0.032089
3   270   0.017490   0.026578    0.061359
4   260   0.032565   0.052163    0.134000
5   250   0.069890   0.119340    0.348570
6   240   0.182690   0.337190    1.149900
7   230   0.635210   1.289300    5.300200
8   220   3.416900   7.785200   40.015000
9   210  37.846000  98.826000  657.370000

In [38]:
df = pd.DataFrame()
# df = df.append('temp':  list(viscosity_50w_gly.keys()))
df['temp'] = list(viscosity_50w_gly.keys())
df

   temp
0   300
1   290
2   280
3   270
4   260
5   250
6   240
7   230
8   220
9   210

In [70]:
eta_50w_gly = {300: 0.0046742, 290: 0.0067715, 280: 0.010448, 270: 0.017490, 260: 0.032565, 250: 0.069890, 240: 0.18269, 230: 0.63521, 220: 3.4169, 210: 37.846}
eta_50v_gly = {300: 0.0063573, 290: 0.0094968, 280: 0.015197, 270: 0.026578, 260: 0.052163, 250: 0.11934, 240: 0.33719, 230: 1.2893, 220: 7.7852, 210: 98.826}
eta_60v_gly = {300: 0.011691, 290: 0.018606, 280: 0.032089, 270: 0.061359, 260: 0.13400, 250: 0.34857, 240: 1.1499, 230: 5.3002, 220: 40.015, 210: 657.37}

df = pd.DataFrame()
df['temp'] = list(viscosity_50w_gly.keys())

dbs = [eta_50w_gly, eta_50v_gly, eta_60v_gly]
labels = ['50w%', '50v%', ' 60v%']

for db,label in zip(dbs, labels):
    if all( df['temp'].values == np.array(list(db.keys())) ):
        df[label] = list(db.values())
    else: 
        print(label, " didn't work")
        
df

   temp       50w%       50v%        60v%
0   300   0.004674   0.006357    0.011691
1   290   0.006771   0.009497    0.018606
2   280   0.010448   0.015197    0.032089
3   270   0.017490   0.026578    0.061359
4   260   0.032565   0.052163    0.134000
5   250   0.069890   0.119340    0.348570
6   240   0.182690   0.337190    1.149900
7   230   0.635210   1.289300    5.300200
8   220   3.416900   7.785200   40.015000
9   210  37.846000  98.826000  657.370000